@media (min-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        border-right: 1px solid #fff;
    }

    nav a:last-child {
        border-right: none;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1025px) {
  .discover-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }
}

