@media (min-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        border-right: 1px solid #fff;
    }

    nav a:last-child {
        border-right: none;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 641px) {
    .discover-card img {
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .discover-card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}
