body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ecd4ff;
    color: black;
}

header,
footer {
    background-color: #122c83;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    background-color: #85e3ff;
    color: black;
    text-decoration: none;
    padding: 0.75rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #1724d7;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #85e3ff;
    color: black;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.hero .btn:hover {
    background-color: #edf79e;
    color: #ace7ff;
}

main section {
    background-color: #6eb5ff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
}

h2 {
    color: black;
}

.membership-cards .card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s forwards;
}

.membership-cards .card:nth-child(1) {
    animation-delay: 0.2s;
}

.membership-cards .card:nth-child(2) {
    animation-delay: 0.4s;
}

.membership-cards .card:nth-child(3) {
    animation-delay: 0.6s;
}

.membership-cards .card:nth-child(4) {
    animation-delay: 0.8s;
}

.card {
    animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(15px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.join-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 600px) {
    .join-layout {
        flex-direction: row;
        align-items: flex-start;
    }

    .join-form {
        flex: 2;
    }
    .membership-cards {
        flex: 1;
    }
}

@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
