body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ecd4ff;
    color: #122c83;
}

header {
    background-color: #122c83;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    color: black;
    background-color: #86d4f6;
}

nav a:hover {
    background-color: #ecd4ff;
}

main {
    padding: 1rem;
}

footer {
    background-color: #122c83;
    color: white;
    text-align: center;
    padding: 1rem;
}

#members.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#members.list {
  display: block;
}

#members.list article {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#members article {
  background-color: #86d4f6;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#members img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 6px;
}

#members.list img {
  max-width: 100px;
}
