@media (min-width: 768px) {
    nav ul {
        display: flex !important;       
        flex-direction: row;
        gap: 1rem;                      
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .hamburger {
        display: none;
    }

    nav li a {
        border-bottom: none;            
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem; 
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    main h1 {
        grid-column: 1 / -1;
        font-size: 2.3rem;
        margin: 0 0 0.5rem 0;
    }

    section:last-child {
        grid-column: 1 / -1;
    }

    #course-container {
        display: grid;
        gap: 1rem;
        margin-top: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .course-buttons {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .site-title {
        font-size: 1.2rem;
    }

}

