@media (min-width: 768px) {

    nav ul {
        display: flex;
        gap: 1rem;
    }

    .hamburger {
        display: none;
    }

    header {
        justify-content: flex-start;
        gap: 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1100px;
        margin: 0 auto;
    }

    main h1 {
        grid-column: 1 / -1;
        font-size: 2.5rem;
    }

    main> section:nth-of-type(1),
    main> section::nth-of-type(2) {
        grid-column: span 1;
    }

    main> section:last-of-type {
        grid-column: 1 / -1;
    }

    #course-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 1rem;
    }
}

