@media (min-width: 768px) {

  nav ul {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
  }

  main h1 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
  }

  section:last-child {
    grid-column: 1 / -1;
  }

  #course-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
