@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

header img {
        display: block;
}

header span {
    font-weight: 700;
    font-size: 1.2rem;
}

.hamburger {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

nav ul {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    display: block;
}

nav ul li a:hover {
    background-color: #e2e2e2;
    border-radius: 4px;
}

.nav ul.show {
    display: flex;
}

main {
    margin-top: 1rem;
}

main h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section { 
    margin-bottom: 2rem;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.5rem 0;
}

.social-links a {
    text-decoration: none;
    margin-right: 0.5rem;
    color: #771396;
}

.social-links a:hover {
    color: #0077cc;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid rgb(152, 18, 18);
}
